.b-bio {
  position:relative; 
  background-color: rgb(255, 255, 255);
  height: 248px;
}
.b-bio__title {
  position: absolute;
  left: 656.094px;
  top: 68.5px;
  font-size: 44px;
  font-family: "Avenir";
  color: rgb(14, 191, 221);
  line-height: 0.636;
  text-align: center; 
}

.b-bio__text {
  position: absolute;
  left: 316.255px;
  top: 124.647px;  
  font-size: 20px;
  font-family: "Avenir";
  color: rgb(69, 73, 77);
  line-height: 1.4;
  text-align: center;
}
