@media (max-width: 375px) {
.b-page {
  max-width: 375px;
  height: auto;
  }
.b-nav,.b-intro,.b-bio,.b-team,.b-map,.b-footer  {max-width:375px}  
.b-nav__logo {
  left: 20.229px;  
} 
.b-nav__li {
display:none;
}
.b-nav__button {
  left: 200.132px;  
} 
.b-intro img {width:100%}
.b-intro__title {
  left:90px;
  top: 20.5px;
  font-size: 34px;
  }
.b-intro__text {
  left: 10.255px;
  top:  80.147px;  
  font-size: 10px;
}
.b-bio {
  height: 148px;
}
.b-bio__title {
  left: 140px;
  top: 20.5px;
  font-size: 34px;  
}
.b-bio__text {
  left: 10.255px;
  top: 80.647px;  
  font-size: 10px;  
}
.b-team {
 height: 900px;
}
.b-team__title {
  left: 150px;
  top: 20.5px;
  font-size: 34px;  
}
.b-team__member1 {
  left: 110px;
  top:  97px;  
}
.b-team__member2 {
  left: 110px;
  top:  317px;  
}
.b-team__member3 {
  left: 110px;
  top:  537px;  
}
.b-team__button {
  left: 90px;
  top: 800px; 
}
.b-map {
position:relative; 
height: 287.6px;
}
.b-map__map ,.b-map__popup,.b-map__pin1,.b-map__pin2,.b-map__pin3{display:none}
.b-map {background-image: url("map-small-min.PNG")}
.b-footer__menu {display:none}
.b-footer__line {
  left: 0px;
  top: 78px;
  width: 375px;    
}
.b-footer__aboutpolicy {
  left: 10.611px;
  }
  .b-footer__social1 {
  left: 120px;
  }
  .b-footer__social2  {
  left: 170px;
  }
  .b-footer__social3  {  
  left: 220px;    
}
