@font-face {
  font-family: 'MuseoSans';
  src: url('/test3/fonts/museosans_500-webfont.eot');
  src: url('/test3/fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
       url('/test3/fonts/museosans_500-webfont.woff') format('woff'),
       url('/test3/fonts/museosans_500-webfont.ttf') format('truetype'),
       url('/test3/fonts/museosans_500-webfont.svg#museo_sans500') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('/test3/fonts/avenir-roman.eot');
  src: url('/test3/fonts/avenir-roman.eot?#iefix') format('embedded-opentype'),
       url('/test3/fonts/avenir-roman.woff') format('woff'),
       url('/test3/fonts/avenir-roman.ttf') format('truetype'),
       url('/test3/fonts/avenir-roman.svg#avenirltstd-roman') format('svg');
  font-weight: 500;
  font-style: normal;
}
